body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--fontsize) * 30px);
    color: red;
    font-weight: bold;
}

img{
    filter: invert(var(--invert));
    height: 100px;
}